{% extends "base.html" %}
{% block title %} <title>{{ posts.location }} {{ posts.date }}</title> {% endblock %}

{% block content %}
  <div class="container py-5">
    <article>
      <ul>
        <li>
          Место: {{ posts.location }}              
        </li>
        <li>
          Дата: {{ posts.date }}
        </li>
        <li>
          Категория: <a href="">not-my-day</a>
        </li>
      </ul>         
      <p>
        {{ posts.text }}
      </p>          
    </article>                
  </div>
{% endblock %}   
